.navbar {
    background-color: #aad2e6 !important;
    padding: 1rem 0;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom: 10px;
}

.navbar-nav .nav-item {
    margin: 0 10px;
}

.navbar-nav .nav-link {
    color: #09131d;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}


.navbar-nav img {
    margin-right: 5px;
}

.navbar-nav a {
    font-size: 18px;
    /* Adjust the font size as needed */
}

#carouselExampleSlidesOnly {
    position: relative;
}

#carouselExampleSlidesOnly:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;

}

.carousel-caption {
    z-index: 2;
}

.carousel-caption h1,
.carousel-caption p {
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.container {
    background: linear-gradient(to right, #dcd6f7, #ffffff) !important;
    border-radius: 5px;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto', sans-serif;
}


.container2 p {
    color: #ffffff !important;
    padding-top: 20px;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin-left: 100px;
}

.container p {
    color: #000000 !important;
    padding-top: 20px;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.container h3 {
    color: #000000 !important;
    padding-top: 7px;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto', sans-serif;
    text-align: center !important;
}

.d-block w-100 custom-image {
    border-radius: 5px;
}

.rounded-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.navbar-stripe {
    height: 5px;
    background-color: #000;
    width: 100%;
}

.custom-image {
    border-radius: 5px;
}

.lead {
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.btn {
    margin-bottom: 20px;
}


.carousel-caption {
    animation: slideInFromTop 2s ease-in-out;
}


@keyframes slideInFromTop {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.nav-item {
    transition: opacity 0.5s ease-in-out;
}

.nav-item:hover {
    opacity: 0.7;
    transform: scale(1.1);
}

.custom-image {
    transition: transform 0.3s ease-in-out;
}

.custom-image:hover {
    transform: scale(1.08);
}


.container5 {
    background: linear-gradient(to right, #dcd6f7, #ffffff) !important;
    border-radius: 5px;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
}

.container5 h3 {
    color: #000000 !important;
    padding-top: 7px;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto', sans-serif;
    text-align: center !important;
}

.container5 p {
    color: #000000 !important;
    padding-top: 20px;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.container5 .row {
    display: flex;
    justify-content: center;
    margin-left: 80px;
    margin-right: 90px;
}

.container5 .card {
    margin: 10px;
}

@media (max-width: 768px) {
    .carousel-caption h1 {
        font-size: 20px;
        padding-top: 20px;
    }

    .carousel-caption p {

        font-size: 14px;

    }
    .d-block {
        height: 240px;
    }
}

